/*---------------
     fonts
---------------*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster+Two:ital@1&family=Poppins:wght@500&family=Roboto:wght@500&family=Rokkitt&display=swap");

/*-----------------
     utilites
-----------------*/
.web-body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}
.heighlight {
  font-weight: 700;
}
ul li {
  list-style: none;
}
.package-btn {
  border-radius: 40px;
  background-color: #fba8dd32;
}
.focus-area {
  border-radius: 40px;
}
footer {
  height: 250px;
  background-color: #0b0d17;
  margin-top: 80px;
  color: #e5e5e5;
}
