/*---------------
     fonts
---------------*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster+Two:ital@1&family=Poppins:wght@500&family=Roboto:wght@500&family=Rokkitt&display=swap");

/*-----------------
     utilites
-----------------*/
.web-body {
  background-color: #e5e5e577;
  font-family: "Poppins", sans-serif;
}
.heighlight {
  font-weight: 700;
}
.color-focus {
  color: #2e7ef6;
}
.bonus {
  background-color: #fbf0f7;
  border-radius: 20px;
}
/*---------------
     packages
----------------*/
ul li {
  list-style: none;
}
.package-btn {
  border-radius: 40px;
  background-color: #fba8dd32;
}
.package-btn-h {
  background-color: white;

  border-radius: 20px;
}
.focus-area {
  border-radius: 5px 30px 5px 30px;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.fab {
  font-size: 40px;
}
button a {
  text-decoration: none;
  color: white;
}
.fa-google-play {
  font-size: 30px;
}
/*----------------
   footer area
  --------------*/
footer {
  height: 250px;
  background-color: #0b0d17;
  margin-top: 80px;
  color: #e5e5e5;
}
.icons img {
  width: 180px;
}
.clients2 {
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  border-radius: 20px;
}
